
#app {
  width: 100vw;
  height: 100vh;
}

:root {
  --app-header-height: 35px;
  --app-box-height: calc(100vh - var(--app-header-height));

  --primary-color: #0078d4;
  --secondary-color: #f3f2f1;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.dark {
  & body {
    background-color: #333;
    color: #fff;
  }
}