
#app {
  width: 100vw;
  height: 100vh;
}

:root {
  --app-header-height: 35px;
  --app-box-height: calc(100vh - var(--app-header-height));
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}