

.topbar-contianer {
	width: max-content;
	display: flex;
	font-size: 0.8rem;
	gap: 0.3rem;
	align-items: center;
	--topbar-active-line-color: var(--primary-color, #333);
	.topbar-contianer_inner_box {
		display: flex;
		gap: 0.5rem;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: var(--topbar-active-line-width);
			height: 1px;
			background-color: var(--topbar-active-line-color);
			bottom: 0;
			left: 0;
			transform: translateX(var(--topbar-active-line-x));
			transition: transform 0.2s, width 0.1s;
		}
	}
	.topbar-empty-item {
		&:before { 
			display: none !important;
		}
	}
}

.dark {
	& .topbar-contianer {
		--topbar-active-line-color: var(--primary-color, #fff);
	}
}

.topbar-wrapper-item {
	display: inline-flex;
	align-items: center;
	gap: 0.3rem;
	padding: 0 0.3rem;
}

.topbar-item {
	display: inline-flex;
}

.topbar-item-suffix_button {
	cursor: pointer;
	font-size: 0.7rem;
	padding: 0.2rem;
	border-radius: 50%;
}
.topbar-wrapper-item-active {
	color: var(--primary-color, #fff);
}
